<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: #000000">
  <%- include('../partials/userheader.ejs') %>

  <% if(Allcart.length===0){ %>

    <section class="h-100 h-custom" style="background-color: rgb(0, 0, 0);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4 d-flex align-items-center justify-content-center " style="font-size: 100px; flex-direction: column;"  >
    <div style="display: flex;
    align-items: center;
    justify-content: center;">
        Sorry Your Cart is Empty
    </div>
         <div style="display: flex;
         align-items: center;
         justify-content: center;">
             <img src="/images/preview.png" alt="" style="width: 50%; left: 50%;">
         </div>                   
                        </div>
                            </div>
                            </div>
                            </div>
                            </div>
                        </section>

    <%}else{%>
        <section class="h-100 h-custom" style="background-color: #000000;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="row">
                                    
                                        <h5 class="mb-3" style=" font-family: 'Poppins', sans-serif; font-weight: 700;"><a href="/" class="text-body" style="text-decoration: none; margin-left: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1); margin-right: 10px;
                                            margin-bottom: 5px;"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg>Keep Shopping</a></h5>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <h6 class="mb-1">Shopping cart</h6>
                                                
                                            </div>
                                            <div>
                                                <p class="mb-0"><span class="text-muted"></span> </p>
                                            </div>
                                        </div>

                                        
                                        <% Allcart.forEach((product)=>{%>
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div>
                                                                <img src="/ProductImg/<%=product?.productDetails?._id%>.jpg"
                                                                    class="img-fluid rounded-3" alt="Shopping item"
                                                                    style="width: 65px;">
                                                            </div>
                                                            <div class="ms-3 ">
                                                                <h5 style="font-size: 18px; font-family: 'Poppins', sans-serif; font-weight: 700;"><%= product?.productDetails?.name %></h5>
                                                                <span class="small mb-0">
                                                                    <!-- category -->
                                                                </span>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                        </div>
                                        <%})%>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </section>
        <%}%>
</body>
</html>