<%- include('../partials/bootstrapH.ejs') %>
<%- include('../partials/userheader.ejs') %>


    <div class="container mt-2">
      <h1 style="text-decoration: none;" class="text-light"><%=cats.name%></h1>
      <div class="d-flex justify-content-center">
        <div class="row justify-content-center mt-5">
         

           
           
        </div>
      </div>
      </div>
    </div>


      <%- include('../partials/bootstrapF.ejs') %>